image: ghcr.io/cnescatlab/doxygen:latest


pages:
  stage: deploy
  script:
    - |+
      cargo doc --no-deps
      mkdir -p public
      cp -r target/doc/* public
  artifacts:
    paths:
      - public
