variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"


stages:
  - build

build_rust:
  only:
    - master
  stage: build
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  script:
    # - cargo build --verbose
    - cargo build --all-features --verbose --release
    # - cargo test --verbose
  artifacts:
    when: on_success
    paths:
      - target/release/*.d
      - target/release/*.rlib
  
build_python:
  only:
    - master
  stage: build
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  script:
    - maturin build --release
  artifacts:
    paths:
      - target/wheels/
    when: on_success

doc:
  only:
    - master
  stage: build
  image: rust:latest
  before_script:
  ## Source: https://docs.gitlab.com/ee/ci/jobs/ssh_keys.html
    - command -v ssh-agent >/dev/null
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - chmod 400 "$SSH_KEY"
    - ssh-add "$SSH_KEY"
  script:
    - cargo doc --no-deps --document-private-items
    - scp -i $SSH_KEY -r target/doc/ $DOC_USER@$DOC_HOST:$DOC_PATH