variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/simba/${CI_COMMIT_TAG}"

stages:
  - build
  - test
  - upload
  - release

build_rust:
  rules:
    - if: $CI_COMMIT_TAG                 # Run this job when a tag is created
  stage: build
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  script:
    # - cargo build --verbose
    # - cargo build --all-features --verbose --release
    - cargo build -p simba-cmd --release
    # - cargo test --verbose
  artifacts:
    when: on_success
    paths:
      - target/release/simba-cmd
  
build_python:
  rules:
    - if: $CI_COMMIT_TAG                 # Run this job when a tag is created
  stage: build
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  script:
    - maturin build --release
  artifacts:
    paths:
      - target/wheels/
    when: on_success

doc:
  rules:
    - if: $CI_COMMIT_TAG                 # Run this job when a tag is created
  stage: build
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  before_script:
  ## Source: https://docs.gitlab.com/ee/ci/jobs/ssh_keys.html
    - command -v ssh-agent >/dev/null
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - chmod 400 "$SSH_KEY"
    - ssh-add "$SSH_KEY"
  script:
    - cargo doc --no-deps --document-private-items
    - scp -i $SSH_KEY -r target/doc/ $DOC_USER@$DOC_HOST:$DOC_PATH/rust
    # - ./generate_config_doc.py
    - cd doc/user_manual && sh ./make_doc.sh
    - scp -i $SSH_KEY -r site/ $DOC_USER@$DOC_HOST:$DOC_PATH/user

tests:
  only:
    - /^release/.*$/
  stage: test
  image: gitlab.laas.fr:4567/mescourrou/simba:latest
  script:
    - source /env/bin/activate
    - maturin develop
    - ./test.sh

upload:
  stage: upload
  image: curlimages/curl:latest
  rules:
      - if: $CI_COMMIT_TAG
  script:
      # - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file target/release/*.rlib ${PACKAGE_REGISTRY_URL}/simba-rust-${CI_COMMIT_TAG}.rlib'
      - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file target/wheels/*.whl ${PACKAGE_REGISTRY_URL}/'
      - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file target/release/simba-cmd ${PACKAGE_REGISTRY_URL}/'


release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG                 # Run this job when a tag is created
  script:
    - echo "running release_job"
  release:                               # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: '$CI_COMMIT_TAG'
    description: '$(git log -1 --pretty=%B)'
    assets:
      links:
        - name: Python package
          url: "${PACKAGE_REGISTRY_URL}/simba-${CI_COMMIT_TAG}-cp310-abi3-manylinux_2_39_x86_64.whl"
        - name: Binary
          url: "${PACKAGE_REGISTRY_URL}/simba-cmd"
